.slider{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 737px;
    background-image: url("../../../resources/img/slider/slider_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.blackout{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.blackout h1{
    color: #ffffff;
    font-family: var( --source-sans-lt );
    font-weight: 300;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    padding-top: 293px;
}

.blackout p{
    color: #ffffff;
    font-family: var( --open-sans );
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: center;
    padding-top: 43px;
}

.button-down{
    width: 36px;
    height: 36px;
    background-color: var(--turquoise);
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: calc(50% - 18px);
    margin-top: 210px;
}