.service{
    background-color: var(--very-light-silver);
}
.services .container{
    padding-left: 60px;
    padding-right: 60px;
    width: 1049px;
}

.service_about{
    display: flex;
}

.service_text{
    display: flex;
    margin-bottom: 140px;
}

.serv_menu ul{
    list-style: none;
}

.sr_menu_itm{
    margin: 0 45px 15px 0;
}

.sr_menu_itm a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width:53px;
    height:53px;
    background-color: var(--gray);
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 74.37px;
    border-radius: 50%;
    transition: 0.15s;
}

.begin_style{
    background-color: var(--turquoise) !important;
}

.mn_text .un_title{
    margin: 0 0 35px 0;
}

.mn_text .pn_text{
    margin-bottom: 35px;
}

.skills{
    display: flex;
}

.default_skill_block{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: center;
            align-content: center;
    margin: 60px 0 0 47px;
}

.prozent{
    font-family: var(--open-sans);
    color: var(--gray);
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.25px;
    margin-top: 63.1%;
}

.default_skill_block svg{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
}

.skill_circle_bottom{
    stroke: var(--turquoise);
    stroke-width: 5px;
}
.skill_circle_upper{
    stroke: var(--dark-turq);
    stroke-width: 5px;
    stroke-dasharray: 376.8;
}

.skills_name{
    width: 100%;
    text-align: center;
    margin: 60px 0 0 0;
    color: var(--gray);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}